* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

#screen-left {
    display: inline-block;
    height: 100vh;
    width: 50%;
}

#screen-right {
    display: inline-block;
    height: 100vh;
    width: 50%;
    position: absolute;
}

header {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    font-size: 18px;
}

a {
    margin-left: 10px;
    margin-right: 10px;
}

#sign {
    color: #ffffee;
    height: 40px;
    width: 80px;
    font-size: 16px;
    border: none;
    background-color: chartreuse;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 5px;
}

img {
    width: 600px;
    margin: 50px 50px 30px 40px;
}


h1 {
    width: 500px;
    font-size: 54px;
    margin-top: 220px;
    margin-bottom: 40px;
    font-weight: 600;
}

p {
    font-weight: 100;
    font-size: 20px;
    width: 500px;
    margin-bottom: 40px;
}

#learn {
    font-size: 24px;
    border: none;
    color: chartreuse;
    background-color: #ffffee;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {

    img {
        width: 500px;
    }

}

@media screen and (max-width: 1060px) {

    img {
        width: 400px;
    }

    header {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
        width: 400px;
    }

    p {
        font-size: 14px;
        width: 400px;
    }

    #learn {
        font-size: 18px;
    }
}

@media screen and (max-width: 860px) {

    img {
        width: 350px;
        margin-left: 20px;
    }

    header {
        margin-left: 10px;
        font-size: 12px;
    }

}

@media screen and (max-width: 780px) {

    .screen {
        display: flex;
        flex-direction: column;
    }


    #screen-right {
        order: 2;
        width: 100vw;
        height: 50%;
        position: static;
        text-align: center;
        align-items: center;
        
    }

    #screen-left {
        order: 3;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50%;

    }

    #screen-left header {
        display: inline-block;
        order: 1;
        position: absolute;
        top: 10px;
        left: 95%;
    }

    a {
        display: none;
        margin: 0px;
    }
    
    h1 {
        display: inline-block;

        margin: 0px;
        margin-top: 90px;
    }

    img {
        margin: 0px;
    }

    header {
        margin: 0px;
        padding: 0px;
    }

    p {
        display: inline-block;
        margin: 0px;
        margin-top: 20px;
    }

    *{
        align-items: center;
    }
    #learn {
        display: block;
        margin: 20px auto 0 auto;
        width: fit-content;
        position: static !important;
    }
}